.boxSpacing {
    -fx-padding: 10 10 10 10;
}

.root {
    -fx-font: 14px "Times New Roman";
}

.working-content-width {
    -fx-pref-width: 940px;
}

TextField {
    -fx-pref-width: 300px;
    -fx-background-color: transparent, grey, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

ComboBox {
    -fx-pref-width: 300px;
    -fx-background-color: transparent, grey, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

DatePicker {
    -fx-pref-width: 300px;
    -fx-background-color: transparent, grey, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

Button {
    -fx-background-radius: 0, 0, 0, 0;
}

.action-button {
    -fx-pref-width: 100px;
}

.long-action-button {
    -fx-pref-width: 130px;
}

TableView .table-column {
    -fx-alignment: center;
}

.error-field {
    -fx-border-color: #ff454a;
    -fx-effect: dropshadow(three-pass-box, rgb(255, 69, 74), 10, 0, 0, 0);
}

.warning-field {
    -fx-border-color: #fbf94a;
    -fx-effect: dropshadow(three-pass-box, rgb(251, 249, 74), 10, 0, 0, 0);
}

.field-label {
    -fx-font-weight: bold;
    -fx-text-alignment: right;
}

.form-header-text {
    -fx-font: 20px "Times New Roman";
    -fx-font-weight: bold;
}

.bordered-element {
    -fx-border-width: 1px;
    -fx-border-color: blue;
}

.contractor-list-filter-margin {
    -fx-padding: 0 50 0 0;
}

.bold-label {
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.start-view {
    -fx-border-width: 4px;
    -fx-border-color: black;
}

.progress-indicator {
    -fx-padding: 10 10 10 10;
    -fx-progress-color: #8f1101;
}