.boxSpacing {
    -fx-padding: 10 10 10 10;
}

.root {
    -fx-font: 14px "Times New Roman";
}

.working-content-width {
    -fx-pref-width: 940px;
}

TextField {
    -fx-pref-width: 300px;
    -fx-background-color: transparent, grey, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

ComboBox {
    -fx-pref-width: 300px;
    -fx-background-color: transparent, grey, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

DatePicker {
    -fx-pref-width: 300px;
    -fx-background-color: transparent, grey, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

Button {
    -fx-background-radius: 0, 0, 0, 0;
}

.action-button {
    -fx-pref-width: 100px;
}

.long-action-button {
    -fx-pref-width: 130px;
}

TableView .table-column {
    -fx-alignment: center;
}

.error-text-field {
    -fx-background-color: #FFF0F0;
    -fx-border-color: #DBB1B1;
}

.field-label {
    -fx-font-weight: bold;
    -fx-text-alignment: right;
}

.form-header-text {
    -fx-font: 20px "Times New Roman";
    -fx-font-weight: bold;
}

.bordered-element {
    -fx-border-width: 1px;
    -fx-border-color: blue;
}

.contractor-list-filter-margin {
    -fx-padding: 0 50 0 0;
}

.bold-label {
    -fx-font-weight: bold;
    -fx-font-style: italic;
}